h1{
    color: rgb(24, 3, 48);
    text-align: center;
    front-size: 165px;
    front-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-color: rgb(91, 124, 124);
    text-align: center;
    font-size: 25px;

}